.home {
    background-color: #f5f5f5;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: blueviolet;
}
button {
    background-color: #0f77ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}